@import "../../styles/variable";

.all{
  padding: 50px 0;
  .content{
    padding:30px 0;
    max-width: 98%;
    margin:auto;
    border: $border;
    border-radius: $borderRadius;
    background-color: $lightBackgroundColor;
    .table{
      max-width: 90%;
      margin: auto;
      margin-bottom: 30px;
      .table_header_flex{
        font-size: 20px;
        font-weight: bold;
        padding:10px 0;
        border-bottom: 2px solid darkred;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        div ul{
          display: flex;
          flex-direction: row;
          li:not(:first-child){
            border-left: 2px solid darkred ;
          }
          li{
            color: darkred;
            padding: 0 10px;
          }
        }
      }
      .table_bootom_flex{
        padding:10px 0;
        border-bottom: 2px solid darkred;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div.part{
          text-align: center;
          width: 20%;
          height: 100px;
          p{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            height: 50%;
            width: 100%;
            border:1px solid rgba(128, 128, 128, 0.3);
          }
          p:first-child{
            border-top: none;
          }
          p:last-child{
            border-bottom: none;
          }
        }
        div.part:first-child p{
          border-left: none;
        }
        div.part:last-child p{
          border-right: none;
        }
      }
    }
    .content_flex{
      max-width: 90%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      >div{
        width: 48%;
        iframe{
          width: 100%;
          height: 350px;
        }
      }
      .img_and_data{
        .text{
          margin-top: 20px;
          ul{
            li{
              padding:10px 0;
              border-bottom:1px solid rgba(128, 128, 128, 0.47);
              background-size: contain;
              background-repeat: no-repeat;
              background-position: calc(100% - 50px) center;
              background-image: url("../../assets/img/check-mark-icon.png");
            }
          }
        }
      }
      .map_and_data{
        .text{
          p{
            margin:0;
            padding: 10px 0 10px 50px;
            background-size: 37px;
            background-repeat: no-repeat;
            background-position: 5px center;
            background-image: url("../../assets/img/check-mark-icon.png");
          }
        }
      }
    }
  }
}
