$mainLightColor       :white;
$contentMaxWidth      :95%;
$contentWidth         :1300px;
$transition           :.5s;
$mainDarkColor        :#30383e;

//For navigation
$navBackgroundColor   :rgba(34, 74, 105, 0.7);
$navItemPadding       :17px;
$navMinHeight         :80px;
$navItemHoverColor    :rgba(34, 74, 105, 0.9);
$navFontSize          :13px;

//For header(slider)
$headerHeight         :400px;

//For First page
$lightBackgroundColor :#f5f5f5;
$darkBackgroundColor  :#03529082;
$darkBackgroundHoverColor  :#035290db;
$border               :1px solid darkgray;
$borderRadius          :3px;
