<nav>
  <div class="content">

    <div class="logo_burger_flex">
      <a routerLink="/">
        <img src="http://irealty.am/assets/images/Logo_horizontal_white.png" alt="">
      </a>

      <div class="burger"></div>
    </div>

    <div class="items_flex">
      <ul>
        <li><a href="#" class="uppercase" translate>evaluation</a></li>
        <li><a href="#" class="uppercase" translate>about us</a></li>
        <li><a href="#" class="uppercase" translate>services</a></li>
        <li><a href="#" class="uppercase" translate>co-workers</a></li>
        <li><a href="#" class="uppercase" translate>news</a></li>
        <li><a href="#" class="uppercase" translate>contact us</a></li>
      </ul>
    </div>

    <div class="lang_tel">
      <div class="lang">
        <img src="http://irealty.am/assets/images/soc/emg_flag.png" alt="eng" (click)="switchLanguage('en')">
        <img src="http://irealty.am/assets/images/soc/rus_flag.png" alt="rus" (click)="switchLanguage('ru')">
        <img src="http://irealty.am/assets/images/soc/arm_flag.png" alt="arm" (click)="switchLanguage('arm')">
      </div>
      <div class="tel">
        <div>+374 10 58 06 06</div>
        <div>+374 44 58 06 06</div>
      </div>
    </div>
  </div>
</nav>

<!--<h1 translate>Title</h1>-->

<!--<div>-->
<!--  {{ 'Intro' | translate}}-->
<!--</div>-->


<!--<button (click)="switchLanguage('en')">en</button>-->

<!--<button (click)="switchLanguage('ru')">fr</button>-->
